*{
    box-sizing: border-box;
}

body{
    font-family: Arial;
    padding: 30px;
    background-color: #c6eaf5;
    margin-bottom: 30px;
    margin-left: 10px;
}
header{
    padding: 30px;
    text-align: center;
    background-color: #c1d8be;
}
header h1{
    font-size:45px

}
nav {
    padding: 30px;
    padding-left: 0;
}
nav ul{
    display: inline-block;
    text-align: center;
}
#logo{
    padding-top: 1px;
    vertical-align:-25px;
}
nav ul li{
    display: inline-block;
    padding: 30px;
}
#firtimg{
    width: 100%;
    
}
#secdimg{
float: right;
    width: 50%;
}

#pic1{
    float: left;
    padding-top: 30px;
}
#pic3{
    float: right;
    padding-top: 30px;
}
#pic2{
    padding-left: 185px;
    padding-top: 30px;
}
#secimg{
    padding-top: 30px;
    width: 50%;
}
#secimg{
    float: left;
}
div{
    padding-top: 30px;
    padding-left: 680px;
}
div h2{
    font-size: 30px;
}
div p{
    padding-top: 10px;
}
#left{
    padding-top: 20px;
}

#lastimg{
    width: 100%;
    padding-top: 30px;
}

